html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    font-size: 1.2em;
}

p {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}

#userLogo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

#userLogo > img {
    width: 100%;
}

#userName {
    text-align: center;
}

#skillLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

#skillLogo > img {
    width: 100%;
}

#skillName {
    text-align: center;
}

#skillProgress {
    background-color: #f1f1f1;
    width: 300px;
    height: 30px;
    border-radius: 4px 4px 4px 4px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px lightgrey;
}

#skillProgressRunner {
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    width: 75%;
    height: 30px;
}

.skill-unit-progress {
    width: 100%;
    height: 4px;
    margin: 0px;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px lightgrey;
}

.skill-unit-progress-runner {
    background-color: #4CAF50;
    box-shadow: 1px 0px 2px #449d48;
    width: 75%;
    height: 30px;
}

#skillDescription {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

#skillUnitList {
    width: 50%;
    min-width: 600px;
    margin: auto;
    margin-top: 8px;
}

.skill-unit, .skill-unit-with-quiz {
    overflow: hidden;
    margin-bottom: 8px;
    min-height: 80px;
    border-radius: 4px;
    position: relative;
}

.skill-unit-with-quiz {
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: inset 0px 0px 2px rgba(244, 244, 244, 1);
}

.total-questions {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 0px 0px 0px 4px;
    font-weight: bold;
    color: white;
}

.time-spent {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 4px 0px 0px 0px;
    font-weight: bold;
    color: white;
}

.question {
    margin-bottom: 8px;
}

.answer {
    margin-bottom: 4px;
}

.question-number {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 0px 0px 4px 0px;
    font-weight: bold;
    color: white;
}

.skill-unit:hover > .prove-it-block {
    top: 0px;
}

.prove-it-block {
    transition: top 0.2s ease;
    top: -80px;
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.9);
    
}

.prove-it-block > a {
    text-decoration: none;
}

.prove-it-button {
    height: 40px;
    width: 20%;
    background-color: #f44336;
    margin: auto;
    margin-top: 20px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    box-shadow:1px 0px 2px #ca382d;
    cursor: pointer;    
}

.skill-unit-quiz {
    position: relative;
    margin-top: 8px;
    height: 200px;
    width: 100%;
    display: inline-block;
    background-color: rgba(244, 244, 244, 0.9);
    box-shadow: inset 0px 0px 2px rgba(193, 193, 193, 0.9);
}

.quiz {
    margin-top: 40px;
    margin-left: 40px;
}

.skill-unit-logo {
    display: inline-block;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
    margin-left: 8px;
}

.skill-unit-logo > img {
    width: 100%;
}

.skill-unit-name {
    margin-top: 8px;
}

.skill-unit-description {

}
