html, body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 4em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    font-size: 1.2em;
}

p {
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}

#headerBlock {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    box-shadow: 1px 0px 2px #449d48;
    margin-bottom: 8px;
}

#header {
    width: 800px;
    height: 100%;
    margin: auto;
    position: relative;
}

.user-info {
    position: absolute;
    right: 0px;
}

.user-info > div {
    display: inline-block;
    float: left;
}

.user-logo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 4px 4px 4px 4px;
}

.user-logo > img {
    width: 100%;
}

.user-name {
    line-height: 40px;
    color: whitesmoke;
}

#userLogo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    position: relative;
}

#userLogo > img {
    width: 100%;
}

#userName {
    text-align: center;
}

#skillLogo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
}

#skillLogo > img {
    width: 100%;
}

#skillName {
    text-align: center;
}

#skillProgress {
    background-color: #f1f1f1;
    width: 300px;
    height: 30px;
    border-radius: 4px 4px 4px 4px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px lightgrey;
}

#skillProgressRunner {
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    width: 75%;
    height: 30px;
}

.skill-unit-level {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    padding: 4px;
    background-color: #4CAF50;
    color: whitesmoke;
    font-weight: bold;
}

.skill-unit-progress {
    width: 100%;
    height: 4px;
    margin: 0px;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    box-shadow: inset 0px 0px 2px lightgrey;
}

.skill-unit-progress-runner {
    background-color: #4CAF50;
    box-shadow: 1px 0px 2px #449d48;
    width: 75%;
    height: 30px;
    float: left;
}

#userAchievements {
    width: 300px;
    height: 48px;
    position: absolute;
}

.achievement {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    background-color: #f44336;
    box-shadow: 0px 0px 4px #ca382d;
    margin-right: 10px;
}

.achievement-description {
    transition: width 0.2s ease, color 0.4s ease, box-shadow 0.4s ease-out;
    width: 48px;
    padding-right: 0px;
    white-space: nowrap;
    top: 0px;
    border-radius: 24px;
    background-color: whitesmoke;
    color: rgba(90, 90, 90, 0.0);
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 4px #ca382d;
    overflow: hidden;
}
.achievement-description:hover {
    width: 100%;
    overflow: initial;
    color: rgb(90, 90, 90);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#skillDescription {
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

#skillUnitList {
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    margin-top: 8px;
}

.skill-unit, .skill-unit-with-quiz {
    overflow: hidden;
    margin-bottom: 8px;
    min-height: 80px;
    border-radius: 4px;
    position: relative;
}

.skill-unit-with-quiz {
    background-color: rgba(250, 250, 250, 0.9);
    box-shadow: inset 0px 0px 2px rgba(244, 244, 244, 1);
}

.total-questions {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 0px 0px 0px 4px;
    font-weight: bold;
    color: white;
}

.time-spent {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 4px 0px 0px 0px;
    font-weight: bold;
    color: white;
}

.question {
    margin-bottom: 8px;
}

.answer {
    margin-bottom: 4px;
}

.question-number {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f44336;
    box-shadow: 1px 0px 2px #ca382d;
    padding: 8px;
    border-radius: 0px 0px 4px 0px;
    font-weight: bold;
    color: white;
}

.skill-unit:hover > .prove-it-block {
    top: 0px;
}

.prove-it-block {
    transition: top 0.2s ease;
    top: -80px;
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.9);
    
}

.prove-it-block > a {
    text-decoration: none;
}

.prove-it-button {
    height: 40px;
    width: 20%;
    background-color: #f44336;
    margin: auto;
    margin-top: 20px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    box-shadow:1px 0px 2px #ca382d;
    cursor: pointer;    
}

.skill-unit-quiz {
    position: relative;
    margin-top: 8px;
    height: 200px;
    width: 100%;
    display: inline-block;
    background-color: rgba(244, 244, 244, 0.9);
    box-shadow: inset 0px 0px 2px rgba(193, 193, 193, 0.9);
}

.quiz {
    margin-top: 40px;
    margin-left: 40px;
}

.skill-unit-logo {
    display: inline-block;
    float: left;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: 8px;
    margin-left: 8px;
}

.skill-unit-logo > img {
    width: 100%;
}

.skill-unit-name {
    margin-top: 8px;
}

.skill-unit-description {

}

.right-panel > .quiz {
    width: 300px;
    min-height: 100px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
}

.left-panel > .quiz {
    width: 300px;
    min-height: 100px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
}

.left-panel > .offers {
    width: 300px;
    min-height: 100px;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
}

.quiz-title, .offer-title {
    line-height: 40px;
    background-color: #4CAF50;
    padding: 8px;
    box-shadow: 1px 0px 2px #449d48;
    margin-bottom: 8px;
    color: whitesmoke;
}

.quiz-question {
    font-size: 16px;
}

.quiz-answer {
    margin-left: 8px;
}


.skill-logo, .offer-logo, .quiz-logo {
  width: 40px;
  height:40px;
  float: left;
  margin-right:4px;
}

.skill-logo > img {
    width: 100%;
}

.offer-logo > img {
    width: 100%;
}
.quiz-logo > img {
    width: 100%;
}

.panel-container {
    /*justify-content: space-between;*/
    display: flex;
}
.left-panel {
    width: 320px;
    flex-grow: 1;
}

.center-panel {
    width: 600px;
    flex-grow: 8;
}

.right-panel {
    width: 320px;
    flex-grow: 1;
}

.offer-item {
    line-height:40px;
}

.offer-item-title {
}

.offer-list {
    padding-left: 8px;
}